<div class="panel-header panel-header-sm" >
</div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Instructor Details</h4>
          </div>
          <div class="card-body">
           
            <div class="table-responsive">
              <table class="table">
                <!-- <thead class=" text-primary">
                  <th>Name</th>
                  <th>Course</th>
                  <th>Option</th>
                </thead> -->
                
                <tbody>
                  <!-- <tr>
                    <th>Vehicle ID:</th>
                    <td>{{vehicleData.vehicleId}}</td>
                  </tr> -->
                   <tr>
                     <th>Licence:</th>
                     <td>{{instructorData.Licence}}</td> 
                  </tr>
                 
                  <tr>
                     <th>Staff ID:</th>
                     <td>{{instructorData.staffId}}</td> 
                  </tr>
                 
                  <!-- <tr>
                      <th>Vehicle category id:</th>
                     <td>Id-&nbsp;{{vehicleData.vehicle_category_id.vehicle_category_id}}&nbsp;&nbsp;&nbsp;Name-&nbsp;{{videoData.vehicle_category_id.staffId.userId.firstName}}&nbsp;{{videoData.adminStaffId.staffId.userId.lastName}}</td>
                      
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr> -->
                 
                  
                  
                </tbody>
              </table>
            </div> 
            
    

          

          </div>
        </div>
      </div>
    </div>
  </div>