<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Student's Payment</h2>
  </div>
</div>

<div class="main-content">

      <div *ngIf="errorMessage" class="alert alert-primary">
        <button (click)=closeError() type="button" aria-hidden="true" class="close">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <span>{{errorMessage}}</span>
      </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
         
          <h3>Following Packages</h3>

          <!-- Drop down -->
          <div ngbDropdown class="dropdown" placement="bottom-left">
              <button class="btn btn-info dropdown-toggle" ngbDropdownToggle>Select the package</button>
              <div ngbDropdownMenu>
                  <div *ngFor="let package of studentPackages">
                    <a (click)="paymentDetails(package.packageId)" class="dropdown-item" >{{package.title}}</a>
                  </div>
              </div>
          </div>
            <!-- Drop Down Finish -->

          <hr>
          <div *ngIf="isSelectPackage">
            <h3>{{selectPackage.title}} Payments</h3>
            <a *ngIf="balance>0"  (click)=doPaymentActive()><button class="btn btn-primary btn-sm"><i class="fas fa-plus fa-sm" title="Do Payment"></i></button></a>
            
            <!-- New Payment Add -->
            <div *ngIf="isPayment" class="card">
              <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label>Amount:</label>
                    <input type="text" value="" placeholder="Rs:" class="form-control" name="newPayment" [(ngModel)]="newPayment"/>
                    <small *ngIf="errorPaymentMessage" class="text-danger">{{errorPaymentMessage}}</small>
                </div>
              </div>
              <button  (click)="doPayment(selectPackage.packageId)" type="button" class="btn btn-secondary btn-round">Pay</button>
            </div>
            <!-- New Payment Add Finish -->

              <!-- Table -->
              <div class="table-responsive">
                  <table class="table">
                    <thead *ngIf="payment>0" class=" text-primary">
                      <th></th>
                      <th>Date</th>
                      <th>Method</th>
                      <th>Fee</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let courseFee of courseFeelist">
                        <td><i class="fas fa-angle-right"></i></td>
                        <td>{{courseFee[2]}}</td>
                        <td *ngIf="courseFee[3]==1">Cash</td>
                        <td *ngIf="courseFee[3]==2">Online</td>
                        <td>{{courseFee[1]}}</td>
                      </tr>
                      <!-- Course Fee -->
                      <tr class=" text-info">
                        <td></td>
                        <td></td>
                        <td><h6>Course Fee</h6></td>
                        <td>{{courseFee.toFixed(2)}}</td>
                      </tr>
                      <!-- Course Fee Finish -->
                      <!-- Course Payment -->
                      <tr class=" text-info">
                        <td></td>
                        <td></td>
                        <td><h6>Total Payment</h6></td>
                        <td>{{payment.toFixed(2)}}</td>
                      </tr>
                      <!-- Course Payment Finish -->
                       <!-- Balance Payment -->
                       <tr class=" text-info">
                        <td></td>
                        <td></td>
                        <td *ngIf="payment != courseFee" ><h6>Balance</h6></td>
                        <td *ngIf="payment != courseFee" class="text-success"><h6>{{balance.toFixed(2)}}</h6></td>
                        <td *ngIf="payment == courseFee" class="text-success"><h6><span class="alert alert-primary">Complete Payment</span></h6></td>
                      </tr>
                      <!-- Balance Payment Finish -->
                    </tbody>
                  </table>
              </div>
              <!-- Table Finish -->

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
