<div class="panel-header panel-header-sm" >
</div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Video Details</h4>
          </div>
          <div class="card-body">
           
            <div class="table-responsive">
              <table class="table">
                <!-- <thead class=" text-primary">
                  <th>Name</th>
                  <th>Course</th>
                  <th>Option</th>
                </thead> -->
                
                <tbody>
                  <tr>
                    <th>Video ID:</th>
                    <td>{{videoData.videoId}}</td>
                  </tr>
                   <tr>
                     <th>Title:</th>
                     <td>{{videoData.title}}</td> 
                     <td><a  (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>
                  </tr>
                 
                  <tr>
                     <th>Description:</th>
                     <td>{{videoData.description}}</td> 
                     <td><a  (click)=isUpdate(2)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>
                  </tr>
                  <tr>
                     <th>Resource:</th>
                     <td>{{videoData.url}}</td>
                    <td><a  (click)=isUpdate(3)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update URL"></i></button></a></td>

                  </tr>
                  <tr>
                      <th>Admin Staff:</th>
                     <td>Id-&nbsp;{{videoData.adminStaffId.adminStaffId}}&nbsp;&nbsp;&nbsp;Name-&nbsp;{{videoData.adminStaffId.staffId.userId.firstName}}&nbsp;{{videoData.adminStaffId.staffId.userId.lastName}}</td>
                      
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <th>Added Date</th>
                      <td>{{videoData.addedDate}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div> 
            
            <!-- Update -->
            <div *ngIf="isUpdateVariable" class="card">
                <div class="card-header">
                    <button (click)=close() type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                </div>
                <div class="card-body">
                  <div class="col-sm-8 col-lg-6">
                      <div class="form-group">
                          <label>{{updateName}}:</label>
                          <input type="text" value="" placeholder="{{placeHolder}}" class="form-control" name="password" [(ngModel)]="updateVariable"/>
                          <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>
                      </div>
                    </div>
                    <button  (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>
                  </div>
            </div>
            <!-- Update --> 

            <!-- Confirm All update -->
            <button *ngIf="confirmUpdate"  (click)="saveUpdate()" type="button" class="btn btn-primary  btn-round">Confirm All Updates</button>

          </div>
        </div>
      </div>
    </div>
  </div>