<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Student List</h4>
          <a (click)=addStudent()><button type="button" class="btn btn-success" title="Add Student"><i class="fas fa-plus"></i></button></a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Name</th>
                <th>Number</th>
                <th>Address</th>
                <th>Options</th>
              </thead>
              <tbody>
                <tr *ngFor="let student of students">
                  <td>{{student.name}}</td>
                  <td>{{student.tel}}</td>
                  <td>{{student.address}}</td>
                  <td>  
                    <a href="#" ><button class="btn btn-info btn-sm"><i class="fas fa-eye fa-sm" title="Advanced"></i></button></a>
                    <a  (click)=addPackage(student.studentId)><button class="btn btn-primary btn-sm"><i class="fas fa-plus fa-sm" title="Add Package"></i></button></a>
                    <a  (click)=addPayment(student.studentId)><button class="btn btn-secondary btn-sm"><i class="fas fa-dollar-sign fa-sm" title="Add Payment"></i></button></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
