<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <!-- Error Message -->
  <div *ngIf="errorMessage">
    <div class="alert alert-danger">
      <button (click)=closeError() type="button" aria-hidden="true" class="close">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
      <span>{{errorMessage}}</span>
    </div>
  </div>
  <!-- Error Message End -->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h4 class="card-title"> Written Examination - ModelPapers</h4>
              <a (click)=viewSubmittedPapers()><button type="button" class="btn btn-success btn-sm" title="Submitted Papers"><i class="now-ui-icons design_bullet-list-67"></i></button></a>


            </div>

            <div class="col-md-3">
              <form>

                <div class="input-group no-border">
                  <input type="text" [(ngModel)]="searchTerm" name="search" class="form-control" placeholder="Search..." id="searchBox">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th></th>
                <th></th>
                <th></th>

              </thead>
              <tbody>
                <tr *ngFor="let paper of filteredPaper; let i = index">

                  <!--<td>{{i+1}}</td>
                  <td>{{paper.title}}</td>
                  <td><a href="{{apiUrl}}/api/file/{{paper.paperId}}/3">{{paper.paperId}}.paper</a></td>
                  <td>
                    <a (click)=moreDetails(paper.paperId)><button class="btn btn-info btn-sm"><i class="fas fa-eye fa-sm" title="MoreDetails"></i></button></a>
                  </td>-->

                 <td>&nbsp;&nbsp;<i class="now-ui-icons files_paper">&nbsp;</i><a href="{{apiUrl}}/api/file/{{paper.paperId}}/3">{{paper.title}}&nbsp; - {{paper.paperId}}.pdf</a>
                 </td>
                 <td><a (click)=moreDetails(paper.paperId)><button class="btn btn-info btn-sm"><i class="fas fa-eye fa-sm" title="MoreDetails"></i></button></a></td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>