<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-category">Pass Rate Written Examination in {{selectedYearWrittenExam}}</h5>
              <h4 class="card-title">Written Exam</h4>
              <a (click)=addExamResult()><button type="button" class="btn btn-info btn-sm" title="Add Written Exam Result"><i class="fas fa-plus"></i></button></a>
            </div>
            <div class="col-md-2">
              <li class="nav-item pointer" style="list-style-type:none" ngbDropdown>
                <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="now-ui-icons ui-1_settings-gear-63" title="Setting" ></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div *ngFor="let year of years">
                    <a (click)="getSelectYearWrittenExam(year)" class="dropdown-item" >{{year}}</a>
                  </div>
                </div>
              </li>  
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="writtenExamLineChart"
                        [datasets]="writtenExamLineChartData"
                        [labels]="writtenExamLineChartLabels"
                        [colors]="writtenExamLineChartColors"
                        [options]="writtenExamLineChartOptions"
                        [chartType]="writtenExamLineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <!-- <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-category">Pass Rate Trial Examination in {{selectedYearTrialExam}}</h5>
              <h4 class="card-title">Trial Exam</h4>
              <a (click)=addExamResult()><button type="button" class="btn btn-info btn-sm" title="Add Trial Exam Result"><i class="fas fa-plus"></i></button></a>
            </div>
            <div class="col-md-2">
              <li class="nav-item pointer" style="list-style-type:none" ngbDropdown>
                <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="now-ui-icons ui-1_settings-gear-63" title="Setting" ></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div *ngFor="let year of years">
                    <a (click)="getSelectYearTrialExam(year)" class="dropdown-item" >{{year}}</a>
                  </div>
                </div>
              </li>  
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="trialExamLineChart"
                        [datasets]="trialExamLineChartData"
                        [labels]="trialExamLineChartLabels"
                        [colors]="trialExamLineChartColors"
                        [options]="trialExamLineChartOptions"
                        [chartType]="trialExamLineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <!-- <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated -->
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">

    <!-- First Column Start -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Student Examination List</h5>
          <h4 class="card-title">Today Exam students</h4>
        </div>
        <div class="card-body">
          <!-- Notification -->
          <div *ngIf="!isExamStudent" class="alert alert-primary">
              <!-- <button type="button" aria-hidden="true" class="close">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button> -->
              <span>No any students for today Written Examination.</span>
          </div>
          <!-- End Notification -->
          <div class="table-responsive">
            <table *ngIf="isExamStudent" class="table" id="trial-table">
              <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>NIC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let examStudent of examStudents; let i =index">
                  <td>{{i+1}})</td>
                  <td>{{examStudent.name}}</td>
                  <td>{{examStudent.nic}}</td>
                </tr>
              </tbody>
            </table>
            <button *ngIf="isExamStudent" class="btn btn-info" (click)="generatePdf('Exam Students')">Generate PDF</button>
          </div>
        </div>
      </div>
    </div>
    <!-- First Column Finish-->

    <!-- Second Column Start -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Student Trial List</h5>
          <h4 class="card-title">Today Trial students</h4>
        </div>
        <div class="card-body">
          <!-- Notification -->
          <div *ngIf="!isTrialStudent" class="alert alert-primary">
              <!-- <button type="button" aria-hidden="true" class="close">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button> -->
              <span>No any students for today Trial Examination.</span>
          </div>
          <!-- End Notification -->
          <div class="table-responsive">
            <table *ngIf="isTrialStudent" class="table" id="trial-table">
              <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>NIC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trialStudent of trialStudents; let i = index">
                  <td>{{i+1}})</td>
                  <td>{{trialStudent.name}}</td>
                  <td>{{trialStudent.nic}}</td>
                </tr>
              </tbody>
            </table>
            <button *ngIf="isTrialStudent" class="btn btn-info" (click)="generatePdf('Trial Students')">Generate PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

</script>

