<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Paper Details</h4>


          <div class="table-responsive">
            <table class="table">
            
              <tbody>
                <tr>
                  <th>Paper ID:</th>
                  <td>{{paperData.paperId}}</td>
                </tr>
                <tr>
                  <th>Title:</th>
                  <td>{{paperData.title}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Title"></i></button></a></td>
                </tr>
        
                <tr>
                  <th>Added by Admin Staff:</th>
                  <td>Id-&nbsp;{{paperData.adminStaffId.adminStaffId}}&nbsp;&nbsp;&nbsp;Name-&nbsp;{{paperData.adminStaffId.staffId.userId.firstName}}&nbsp;{{paperData.adminStaffId.staffId.userId.lastName}}</td>
                </tr>

                <tr>
                  <th>Added date:</th>
                  <td>{{paperData.addedDate}}</td>
                </tr>

                <tr>
                  <th>Resource:</th>
                  <td> <a href="{{apiUrl}}/api/file/{{paperId}}/3" target="_blank">{{paperId}}.paper</a></td>
                  <td><a (click)=isUpdate(3)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Resource"></i></button></a></td>
                  <!-- <td><a (click)=loadPaper()><button class="btn btn-secondary btn-sm"><i class="fas fa-eye fa-sm" title="Update Resource"></i></button></a></td>
                  -->
                </tr>
                <tr>
                  <th>View Answers:</th>
                  <td><a (click)=loadAnswers()><button class="btn btn-secondary btn-sm"><i class="fas fa-eye fa-sm" title="Update Title"></i></button></a></td>
                </tr>


                <!-- <tr>
                    <th></th>
                    <a>
                      <img class="avatar border-gray" src=downloadedPaper alt="...">
                   -->
                <!--<embed src={{downloadedPaper}} type="application/paper" width="100%" height="600px" />
                  
                  <object width="400px" height="400px" data={{downloadedPaper}}></object>  </a>
                
                   <a href="{{apiUrl}}/api/file/{{paperId}}/2" target="_blank">{{paperId}}.paper</a>
                 </tr>-->
              </tbody>
            </table>
          </div>


          <!-- Update -->

          <div *ngIf="isUpdateVariable" class="card">
            <div class="card-header">
              <button (click)=close() type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
            </div>
            <div class="card-body">
              <div class="col-sm-8 col-lg-6">
                <div class="form-group">
                  <label>{{updateName}}:</label>
                  <input type="text" value="" placeholder="{{placeHolder}}" class="form-control" name="password" [(ngModel)]="updateVariable"
                  />
                  <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>
                </div>
              </div>
              <button (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>
            </div>
          </div>
          <!-- Update -->
          <!-- Update paper resource -->

          <div *ngIf="isUpdateResource" class="card">
            <div class="card-header">
              <button (click)=close() type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
            </div>
            <div class="card-body">
              <div class="col-sm-10 col-lg-6">
                <!-- <div class="form-group">
                  <label>{{updateName}}:</label>
                  <input type="text" value="" placeholder="{{placeHolder}}" class="form-control" name="password" [(ngModel)]="updateVariable"
                  />
                  <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>
                </div>
              </div>
              <button (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>
           -->
                <div class="author">

                  <a>
                    <label for="upload-paper"> Upload Paper&nbsp;</label>
                    <img class="avatar border-gray" src="{{apiUrl}}/api/file/{{instructorUserId}}/1" alt="...">
                    <br>
                    <input type="file" name="paper" id="upload-paper" (change)="selectFile($event)" />
                    <small *ngIf="errorFile" class="text-danger">{{errorFile}}</small>

                  </a><br>
                  <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>

                  <br>
                </div>

              </div>
              <button (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>

            </div>
          </div>
          <!-- Update -->

          <!-- Confirm All update -->

          <button *ngIf="confirmUpdate" (click)="saveUpdate()" type="button" class="btn btn-primary  btn-round">Confirm All Updates</button>

          <!--View Answers-->
          <div *ngIf="viewAnswers" class="card">
            <div class="card-header">
              <button (click)=close() type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
            </div>
            <div class="card-body">
              <div class="col-sm-8 col-lg-6">
                <div class="form-group">
                  <h6 class="card-title">Answers</h6>
                  <!--<input type="text" value="" placeholder="{{placeHolder}}" class="form-control" name="password" [(ngModel)]="updateVariable"/>-->
                  <br/>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>No of Question</label>
                        <input [(ngModel)]="noOfQuestions" type="text" class="form-control" placeholder="No of questions" name="noOfQuestions" (ngModelChange)="loadAnswers($event)">
                        <small *ngIf="errorNoOfQuestions" class="text-danger">{{errorNoOfQuestions}}</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Answers per Question</label>
                        <input [(ngModel)]="noOfAnswers" type="text" class="form-control" placeholder="No of Answers" name="noOfAnswers" (ngModelChange)="loadAnswers($event)">
                        <small *ngIf="errorNoOfAnswers" class="text-danger">{{errorNoOfAnswers}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div *ngFor="let quest of questionCount">
                          <label class="form-check-label">({{quest}})&nbsp;&nbsp;&nbsp;</label>
                          <div class="form-check form-check-inline" *ngFor="let ans of answerCount">
                            <label class="form-check-label">{{ans}}
                        <input class="form-check-input" type="checkbox"  id="{{quest}}" value="{{ans}}"  (click)="getAnswers($event)" [(ngModel)]="isChecked[quest-1][ans-1]" >  
                        <span class="form-check-sign"></span>
                        </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>
                </div>
              </div>
              <button (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>