<div class="panel-header panel-header-sm" >
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Time Table</h4>
            <a (click)=addLesson()><button type="button" class="btn btn-success" title="Add New Lesson"><i class="fas fa-plus"></i></button></a>
        </div>
        <div class="card-body">
         
          

        </div>
      </div>
    </div>
  </div>
</div>
