<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Student's Packages</h2>
  </div>
</div>

<div class="main-content">

   

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header card-header-info">Add Package</h4>
        <div class="card-body">
           
         <!-- package details -->

        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
          <h4 class="card-header card-header-info">Student Follow Packages </h4>
        <div class="card-body">
         
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>Package</th>
                    <th>Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let studentPackage of studentPackages">
                      <td>{{studentPackage.title}}</td>
                      <td> 
                        <a><button (click)="deletePackage(studentPackage.packageId,studentPackage.title)"  class="btn btn-danger btn-sm"><i class="fas fa-trash" title="Delete Package"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
             </div>

        </div>
      </div>
    </div>
  </div>
</div>

