<div class="panel-header panel-header-sm" >
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Add New Lesson</h4>
              <button (click)="timeSlot()" type="button" class="btn btn-primary btn-round">Time Slot</button>
          </div>
          <div class="card-body">
           
            
  
          </div>
        </div>
      </div>
    </div>
</div>
