<div class="container-fluid">

  <div *ngIf="errorMessage" class="alert alert-danger">
    <button (click)=closeError() type="button" aria-hidden="true" class="close">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <span>{{errorMessage}}</span>
  </div>

    <div class="row">
      <div class="card" style="width: 20rem;">

          <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
              <div class="form-group">
                <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" formControlName="email" type="text" class="form-control"  placeholder="Email">
                <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    <small *ngIf="emailField.errors?.required" class="text-danger">Email Required</small>
                    <small *ngIf="emailField.errors?.email" class="text-danger">Required Valid Email</small>
                </div>
              </div>
              <div class="form-group">
                  <input [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" type="password" class="form-control"  placeholder="Password">
                  <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                      <small *ngIf="passwordField.errors?.required" class="text-danger">Password Required</small>
                  </div>
                </div>
  
              <button  type="submit" class="btn btn-primary">Login</button>
          </form>
  
      </div>
    </div>
  
</div>
