<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="row">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger">
                <button (click)=closeError() type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <span>{{errorMessage}}</span>
              </div>
        </div>
    </div>
  </div>

  <!-- Error Message End -->

  <div class="row">
    <!-- First Column -->
    <div class="col-md-1"></div>

    <!-- Second Coulmn -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add FeedBack</h5>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="addVideo()"> 
            <!-- First Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Your FeedBack</label>
                  <input type="text"  class="form-control" placeholder="FeedBack"  name="FeedBack"   [(ngModel)]="FeedBack">
                  <small *ngIf="errorName" class="text-danger">{{errorTitle}}</small>
                </div>
              </div> 
            </div>
            <!-- End First Row -->
            
            

            

              <button  type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Third Column --> 
    <div class="col-md-2"></div>

  </div>
</div>
