
<div class="modal-header">
    <p *ngIf="studentName!=''" class="modal-title"> {{studentName}}'s Practrical Details of  <b>{{studentChartData.packageName}}</b> Package</p>
    <p *ngIf="studentName==''" class="modal-title"> Practrical Details of <b>{{studentChartData.packageName}}</b> Package</p>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
      <!-- <div id="chartContainer" style="height: 360px; width: 480px;"></div> -->
       <!-- Table Start -->
       <div class="table-responsive">
            <table class="table table-striped table-bordered">
            <tbody *ngIf="studentName==''">
                <tr>
                    <th>Complete Lesson</th>
                    <td>{{studentChartData.completeLesson}}</td>
                </tr>
                <tr>
                    <th>Not Complete Lesson</th>
                    <td>{{studentChartData.notCompleteLesson}}</td>
                </tr>
                <tr>
                    <th>Remain Lesson</th>
                    <td>{{studentChartData.remainLesson}}</td>
                </tr>
                <tr>
                    <th>Book Lesson</th>
                    <td>{{studentChartData.bookLesson}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="studentName!=''">
                <tr>
                    <th>Complete Lesson</th>
                    <td>{{studentChartData.completeLesson}}</td>
                </tr>
                <tr>
                    <th>Not Complete Lesson</th>
                    <td>{{studentChartData.notCompleteLesson}}</td>
                </tr>
                <tr>
                    <th>Remain Lesson</th>
                    <td>{{studentChartData.remainLesson+studentChartData.bookLesson}}</td>
                </tr>
            </tbody>
            </table>
        </div>
        <!-- Table Finish -->
      <hr>
      <p>Trial Examination Date: {{studentChartData.trialExamDate}}</p>
      <p *ngIf="studentChartData.remainDays!=0"> Remain Date for Trial Examination: {{studentChartData.remainDays}} days</p>
      <p *ngIf="studentChartData.remainDays==0"> Remain Date for Trial Examination: Today</p>
</div>


