<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="row">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-danger">
          <button (click)=closeError() type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
          <span>{{errorMessage}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message End -->

  <div class="row">
    <!-- First Column -->
    <div class="col-md-1"></div>

    <!-- Second Coulmn -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register Instructor</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="registerInstructor">

            <!-- First Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" name="FirstName" [(ngModel)]="firstName">
                  <small *ngIf="errorFirstName" class="text-danger">{{errorFirstName}}</small>
                </div>
              </div>
            </div>
            <!-- End First Row -->

            <!-- Secon Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Last Name</label>
                  <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Last Name" name="lastName">
                  <small *ngIf="errorLastName" class="text-danger">{{errorLastName}}</small>
                </div>
              </div>
            </div>
            <!-- End Second Row -->


            <!-- Third Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>NIC</label>
                  <input [(ngModel)]="nic" type="text" class="form-control" placeholder="National ID" name="nic">
                  <small *ngIf="errorNic" class="text-danger">{{errorNic}}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Licence</label>
                  <input [(ngModel)]="licence" type="text" class="form-control" placeholder="Licence" name="licence">
                  <small *ngIf="errorLicence" class="text-danger">{{errorLicence}}</small>
                </div>
              </div>
            </div>
            <!-- End Third Row -->

            <!-- Fourth Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input [(ngModel)]="address" type="text" class="form-control" placeholder="Address" name="address">
                  <small *ngIf="errorAddress" class="text-danger">{{errorAddress}}</small>
                </div>
              </div>
            </div>
            <!-- End Fourth Row -->

            <!-- 5 Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tel</label>
                  <input [(ngModel)]="tel" type="text" class="form-control" placeholder="Telephone Number" name="tell">
                  <small *ngIf="errorTel" class="text-danger">{{errorTel}}</small>
                </div>
              </div>
            </div>
            <!-- End 5 Row -->

            <!-- Third Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input [(ngModel)]="email" type="text" class="form-control" placeholder="E-Mail" name="email">
                  <small *ngIf="errorEmail" class="text-danger">{{errorEmail}}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Password</label>
                  <input [(ngModel)]="password" type="texy" class="form-control" placeholder="Password" name="password">
                  <small class="text-info">Insert trial exam date ,If student not face to trial exam yet.</small><br>
                  <small *ngIf="errorPassword" class="text-danger">{{errorPassword}}</small>
                </div>
              </div>
            </div>
            <!-- End Third Row -->

            <button type="submit" class="btn btn-secondary btn-round">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Third Column -->
    <div class="col-md-2"></div>

  </div>
</div>