<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="row">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-danger">
          <button (click)=closeError() type="button" aria-hidden="true" class="close">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
          <span>{{errorMessage}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message End -->

  <div class="row">
    <!-- First Column -->
    <div class="col-md-1"></div>

    <!-- Second Coulmn -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register Instructor</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="addInstructor()">

            <!-- First Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>First Name</label>
                  <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="First Name" name="firstName">
                  <small *ngIf="errorFirstName" class="text-danger">{{errorFirstName}}</small>
                </div>
              </div>


              <div class="col-md-12">
                <div class="form-group">
                  <label>Last Name</label>
                  <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Last Name" name="lastName">
                  <small *ngIf="errorLastName" class="text-danger">{{errorLastName}}</small>
                </div>
              </div>
            </div>


            <!-- Second Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>NIC</label>
                  <input [(ngModel)]="nic" type="text" class="form-control" placeholder="NIC" name="nic">
                  <small *ngIf="errorNIC" class="text-danger">{{errorNIC}}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Licence</label>
                  <input [(ngModel)]="licence" type="text" class="form-control" placeholder="Licence" name="licence">
                  <small *ngIf="errorLicence" class="text-danger">{{errorLicence}}</small>
                </div>
              </div>
            </div>


            <!-- Third Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input [(ngModel)]="address" type="text" class="form-control" placeholder="Address" name="address">
                  <small *ngIf="errorAddress" class="text-danger">{{errorAddress}}</small>
                </div>
              </div>
            </div>

            <!-- Fourth Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tel</label>
                  <input [(ngModel)]="tel" type="text" class="form-control" placeholder="Telephone Number" name="tel">
                  <small *ngIf="errorTel" class="text-danger">{{errorTel}}</small>
                </div>
              </div>

            </div>


            <!-- Fisth Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email" name="email">
                  <small *ngIf="errorEmail" class="text-danger">{{errorEmail}}</small>
                </div>
              </div>
            </div>

            <!-- Sixth Row -->
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Password</label>
                  <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" name="password">
                  <small *ngIf="errorPassword" class="text-danger">{{errorPassword}}</small>
                </div>
              </div>
            </div>
           
            <button type="submit" class="btn btn-secondary btn-round">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Third Column -->
    <div class="col-md-2"></div>

  </div>
</div>