<div class="panel-header panel-header-sm">
</div>
<div class="main-content">


  <div class="row">
    <!-- First Column -->
    <div class="col-md-1"></div>

    <!-- Second Coulmn -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Register Student</h5>
        </div>
        <div class="card-body">

          <!-- Error Message -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            <button (click)=closeError() type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>{{errorMessage}}</span>
          </div>
          <!-- Error Message End -->

          <form  (ngSubmit)="registerStudent()">
            
            <!-- First Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text"  class="form-control" placeholder="First Name"  name="firstName"   [(ngModel)]="firstName">
                  <small *ngIf="errorFirstName" class="text-danger">{{errorFirstName}}</small>
                </div>
              </div> 
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text"  class="form-control" placeholder="Last Name"  name="lastName"   [(ngModel)]="lastName">
                    <small *ngIf="errorLastName" class="text-danger">{{errorLastName}}</small>
                  </div>
              </div> 
            </div>
            <!-- End First Row -->

            <!-- Secon Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input [(ngModel)]="address" type="text" class="form-control" placeholder="Home Address" name="address">
                  <small *ngIf="errorAddress" class="text-danger">{{errorAddress}}</small>
                </div>
              </div>
            </div>
            <!-- End Second Row -->

            
            <!-- Third Row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>NIC</label>
                  <input [(ngModel)]="nic" type="text" class="form-control" placeholder="National ID" name="nic">
                  <small *ngIf="errorNic" class="text-danger">{{errorNic}}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tel</label>
                  <input [(ngModel)]="tel" type="text" class="form-control" placeholder="Telephone Number" name="tel">
                  <small *ngIf="errorTel" class="text-danger">{{errorTel}}</small>
                </div>
              </div>
            </div>
            <!-- End Third Row -->
            
            <!-- Fourth Row -->
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email" name="email">
                    <small *ngIf="errorEmail" class="text-danger">{{errorEmail}}</small>
                  </div>
                </div>
              </div>
              <!-- End Fourth Row -->

            <!-- 5 Row -->
            <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" name="password">
                    <small *ngIf="errorPassword" class="text-danger">{{errorPassword}}</small>
                  </div>
                </div>
              </div>
            <!-- End 5 Row -->

             <!-- Third Row -->
             <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Exam Date</label>
                    <input [(ngModel)]="examDate" type="date" class="form-control" placeholder="Exam Date" name="examDate">
                    <small class="text-info">Insert written exam date ,If student not face to written exam yet.</small><br>
                    <small *ngIf="errorExamDate" class="text-danger">{{errorExamDate}}</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Trial Date</label>
                    <input [(ngModel)]="trialDate" type="date" class="form-control" placeholder="Trial Date" name="trialDate">
                    <small class="text-info">Insert trial exam date ,If student not face to trial exam yet.</small><br>
                    <small *ngIf="errorTrialExamDate" class="text-danger">{{errorTrialExamDate}}</small>
                  </div>
                  <small *ngIf="errorMessageDate" class="text-danger">{{errorMessageDate}}</small>
                </div>
              </div>
              <!-- End Third Row -->
            
              <button  type="submit" class="btn btn-secondary btn-round">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Third Column -->
    <div class="col-md-2"></div>

  </div>
</div>
