<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Instructor Details</h4>


          <div class="table-responsive">
            <table class="table">
              <!-- <thead class=" text-primary">
                  <th>Name</th>
                  <th>Course</th>
                  <th>Option</th>
                </thead> -->
              <tbody>
                <tr>
                  <th>Instructor ID:</th>
                  <td>{{instructorData.licence}}</td>

                </tr>
                <tr>
                  <th>First Name:</th>
                  <td>{{instructorData.staffId.userId.firstName}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>
                  <th></th>
                  <th>Last Name:</th>
                  <td>{{instructorData.staffId.userId.lastName}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>

                <tr>
                  <th>NIC</th>
                  <td>{{instructorData.staffId.userId.nic}}</td>
                  <td><a (click)=isUpdate(3)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Tags"></i></button></a></td>
                <th> </th>
                  <th>License:</th>
                  <td>{{instructorData.licence}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>
                <tr>
                  <th>Tel no:</th>
                  <td>{{instructorData.staffId.userId.tel}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>
                  <th></th>
                  <th>E-mail:</th>
                  <td>{{instructorData.staffId.userId.email}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>

                <tr>
                  <th>Address:</th>
                  <td>{{instructorData.staffId.userId.address}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>
                <tr>
                  <th>Staff Id:</th>
                  <td>{{instructorData.staffId.staffId}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>
                <tr>
                  <th>User Id:</th>
                  <td>{{instructorData.staffId.userId.userId}}</td>
                  <td><a (click)=isUpdate(1)><button class="btn btn-secondary btn-sm"><i class="fas fa-edit fa-sm" title="Update Description"></i></button></a></td>

                </tr>
                <tr>
                  <th>Reg Date:</th>
                  <td>{{instructorData.staffId.userId.regDate}}</td>
                </tr>
                <tr>
                  <th></th>
              </tbody>
            </table>
          </div>


          <!-- Update -->

          <div *ngIf="isUpdateVariable" class="card">
            <div class="card-header">
              <button (click)=close() type="button" aria-hidden="true" class="close">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
            </div>
            <div class="card-body">
              <div class="col-sm-8 col-lg-6">
                <div class="form-group">
                  <label>{{updateName}}:</label>
                  <input type="text" value="" placeholder="{{placeHolder}}" class="form-control" name="password" [(ngModel)]="updateVariable"
                  />
                  <small *ngIf="errorUpdateMessage && isUpdate" class="text-danger">{{errorUpdateMessage}}</small>
                </div>
              </div>
              <button (click)="update()" type="button" class="btn btn-secondary btn-round">Update</button>
            </div>
          </div>
          <!-- Update -->

          <!-- Confirm All update -->

          <button *ngIf="confirmUpdate" (click)="saveUpdate()" type="button" class="btn btn-primary  btn-round">Confirm All Updates</button>

        </div>
      </div>
    </div>
  </div>
</div>